// 项目SCSS样式全局变量

//左侧菜单宽度
$base-menu-width :240px;
$base-menu-fold-width: 80px;
//左侧菜单背景颜色
$base-menu-background: #001529;

// logo
$base-menu-logo-height: 64px;
$base-logo-title-fontSize: 20px;
// menu



//顶部导航的高度
$base-tabbar-height:50px;
//顶部导航的颜色
$base-tabbar-background: #fff;


//内容区背景颜色
$base-content-background: #dc6c16;
